.footer {
  width: 100%;
  text-align: center;
  padding: 12px 0;
  background: #0d6efd;
  color: white;
  margin-top: 40px;
  font-size: 14px;
}

.dark-mode .footer {
  background: #222;
  color: #ccc;
}
